.banner {
    margin: 0;
    position: relative;
    
    img {
        height: 330px;
        width: 100%;
        object-fit: cover;
    }

    figcaption {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: Niramit;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}