:root {
    --bc-head-footer: #4f0a66;
    --secundary-color: #fff301;
    --color-text-title: #1a1a1a;
    --color-text-secundary: #fff;
    --color-about: #d48d01;
    --color-hover: #ff7300;
    --bc-navigation: rgba(39, 3, 51, .5);
    --bc-about: #dadada;
}